/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #5d5c61;
    color: #7395ae;
    margin: 0;
    padding: 0;
}

.logo p {
    float: right;
    padding-left: 25px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #379683;
    color: white;
}

.header-nav .logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.header-nav .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
}

.header-nav .menu ul.show-menu {
    display: block;
}

.header-nav .menu ul li {
    margin-right: 20px;
}

.header-nav .menu ul li:last-child {
    margin-right: 0;
}

.header-nav .menu ul li a {
    text-decoration: none;
    color: white;
}

.header-nav .menu ul li a:hover {
    text-decoration: underline;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.hero img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.cta a {
    background-color: #379683;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.cta a:hover {
    background-color: #266c7e;
}

.events,
.news {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.events h2,
.news h2 {
    color: #379683;
}

.events ul,
.news ul {
    list-style: none;
    padding: 0;
}

.events ul li,
.news ul li {
    margin-bottom: 10px;
}

.weather {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.weather h2 {
    color: #379683;
}

.cta-section {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.cta-section h2 {
    color: #379683;
}

.cta-section p {
    color: #7395ae;
}

.cta-section a {
    background-color: #379683;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.cta-section a:hover {
    background-color: #266c7e;
}

.spotlights {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.spotlights h2 {
    color: #379683;
}

.spotlight {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.spotlight img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.sidebar {
    background-color: #f3f3f3;
    padding: 20px;
    font-size: 16px;
    border-radius: 10px;
}

.main-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

.lazy-load {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    transition: opacity 0.3s;
}

.lazy-load:not(.loaded) {
    opacity: 0;
}

.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.photo {
    text-align: center;
}

.photo img {
    max-width: 200px;
    height: auto;
    border-radius: 10px;
}

.photo p {
    margin: 5px 0;
}

@media screen and (max-width: 768px) {
    .image-gallery {
        grid-template-columns: 1fr;
    }

    .photo {
        margin: 0 auto;
        text-align: center;
    }
}

.main-content form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-content form h1 {
    font-size: 24px;
    color: #379683;
    margin-bottom: 20px;
}

.main-content form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #379683;
}

.main-content form input[type="text"],
.main-content form input[type="email"],
.main-content form input[type="tel"],
.main-content form select,
.main-content form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
}

.main-content form select {
    appearance: none;
    padding: 10px;
}

.main-content form select option {
    font-size: 16px;
}

.main-content form button {
    background-color: #379683;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.main-content form button:hover {
    background-color: #266c7e;
}

body.dark-mode {
    background-color: #2b2b2b;
    color: #e6e6e6;
}

body.dark-mode .header-nav {
    background-color: #333333;
}

body.dark-mode .header-nav .logo {
    color: #ffffff;
}

.members-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.member-card {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.member-card:hover {
    transform: scale(1.05);
}

.member-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.member-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.member-card p {
    margin: 5px 0;
}

/* About page styles */
.about {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.about h2 {
    color: #379683;
}

.about p {
    color: #7395ae;
}

.about ul {
    list-style: none;
    padding: 0;
}

.about ul li {
    margin-bottom: 10px;
    color: #7395ae;
}

.about ul li::before {
    content: "\2022"; /* Use a bullet point for list items */
    color: #379683;
    margin-right: 5px;
}

.about p:last-child {
    margin-bottom: 0; /* Remove margin for the last paragraph */
}

/* Contact page styles */
.contact {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.contact h2 {
    color: #379683;
}

.contact p {
    color: #7395ae;
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact form h1 {
    font-size: 24px;
    color: #379683;
    margin-bottom: 20px;
}

.contact form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #379683;
}

.contact form input[type="text"],
.contact form input[type="email"],
.contact form input[type="tel"],
.contact form select,
.contact form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
}

.contact form select {
    appearance: none;
    padding: 10px;
}

.contact form select option {
    font-size: 16px;
}

.contact form button {
    background-color: #379683;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.contact form button:hover {
    background-color: #266c7e;
}

/* Events page styles */
.events {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.events h2 {
    color: #379683;
}

.events ul {
    list-style: none;
    padding: 0;
}

.events ul li {
    margin-bottom: 10px;
    color: #379683;
}

.events ul li::before {
    content: "\2022"; /* Use a bullet point for list items */
    color: #379683;
    margin-right: 5px;
}

.events p:last-child {
    margin-bottom: 0; /* Remove margin for the last paragraph */
}
