@media screen and (min-width: 1024px) {
    body {
        background-color: #5d5c61;
        color: #7395ae;
    }

    header {
        background-color: #379683;
        color: white;
    }


/* Hide the hamburger button */
.hamburger {
    display: none;
}

/* Show the navigation menu */
.header-nav .menu ul {
    display: flex;
}

