/* Medium Screen Styles (Min-width: 768px) */
/* Add styles for medium screens here */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 20px; /* Gap between columns and rows */
}

/* Styles for sections within the grid */
.hero, .cta, .events, .news, .weather, .cta-section {
    grid-column: span 1; /* Each section spans one column */
}

/* Additional styles for medium screens can be added here */

@media screen and (min-width: 1024px) {
    body {
        background-color: #5d5c61;
        color: #7395ae;
    }

    header {
        background-color: #379683;
        color: white;
    }

    /* Additional styles for larger screens can be added here */
}
