body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  font-family: 'Your Chosen Font', sans-serif;
  background-color: #7389b3;
  color: #ffffff;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  background-color: #4a5892;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

h1 {
  padding-top: 50px;
  font-size: 40px;
  color: #000000;
}

h2, h3 {
  color: #000000;
}

a {
  text-decoration: none;
  color: #007BFF; /* Updated link color */
}

ul.course-links {
  list-style-type: none;
}

.headercontent {
  background-color: #a4b3e6;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.profilepic {
  max-width: 200px;
  margin-right: 40px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-container h1 {
  margin: 0;
}

nav {
  text-align: center;
  font-size: 20px;
  background-color: #d2ddeb;
  padding: 10px 0;
  width: 100%; /* Set the width to 100% */
}

nav ul {
  display: flex;
  justify-content: center; /* Center align menu items */
  background-color: #d2ddeb;
  padding: 20px;
  border-radius: 5px;
  width: 100%; /* Set the width to 100% */
}

/* Styling for hamburger button */
.hamburger-button {
  display: none; /* Hide on larger screens */
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #000;
  margin-right: 20px;
}

/* Show the button on smaller screens using media query */
@media screen and (max-width: 768px) {
  .hamburger-button {
      display: block;
  }
}

/* Styling for the menu when it's hidden on smaller screens */
nav ul {
  /* display: flex; Removed this line */
  /* flex-direction: column; Removed this line */
  background-color: #d2ddeb;
  padding: 20px;
  border-radius: 5px;
}

/* Hide the menu on smaller screens using media query */
@media screen and (max-width: 768px) {
  nav ul {
      display: none;
  }
}

/* Styling for menu items */
nav ul li {
  margin-bottom: 10px;
  list-style: none;
}

/* Styling for menu links */
nav ul li a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

/* Highlight menu links on hover */
nav ul li a:hover {
  color: #4a5892;
}

/* Style the hero section */
.hero {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

/* Style the overlay text */
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-150%, -150%);
  text-align: center;
  background: rgba(100, 92, 92, 0.6);
  color: #fafafa;
  padding: 20px;
  border-radius: 5px;
}
.overlay-text h2 {
  font-size: 24px;
  margin: 0;
  color:white;
}
.overlay-text p {
  font-size: 18px;
}
/* Add styles for the hamburger button if needed */
.hamburger-button {
  display: none;
}



